<html>
    <body>
        <br />
        <div class="banner">
            <img src="assets/art/kitt_xeon_banner.png"/>
        </div>
        <br />
        <h1 style="font-size: 36px;">Tee's Commission FAQ</h1>
        <h3 style="font-size: 24px;">Please read up on this stuff so I don't have to repeat myself :)</h3>
        <br />
        <div class = "accordion">
            <mat-accordion displayMode="flat" multi="true">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Contact
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    How can I get in touch for a commission???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>The best way to get in touch with me initially is via Twitter/X if we haven't spoken before, it's where 
                    I'm most active. Though it seems I don't actually get pings for message requests, which is really annoying.
                    It's not that I'm ignoring you deliberately, it's just that Elon is doing my DMs dirty.
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Payment
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    How will you steal my money from me???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I use PayPal for commissions, I don't have any other alternatives and don't plan on using any either.
                    <br />
                    All prices listed on the site are in GBP.
                    <br />
                    For Art commissions, payment will be up-front in full.
                    <br />
                    For 3D commissions, payment will be taken after the modelling process is complete.
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Programs
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    What do you draw and model in???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>For art, I use Clip Studio Paint to draw :)<br/>
                    If you want the source files when I'm done with a commission, go ahead and ask and I'll send it to you.<br/>
                    For modelling, I use Blender! I use the Steam version, which at the time of writing (January 2024) is Blender 4.0.<br/>
                    Keep that in mind in case you load up a model and it doesn't work in your version of Blender.
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Adjustments
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    Will you make changes for me for a commission???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>If I've made some dumb error and it needs fixing (i.e missing bit of shading, or it's not blended), 
                    I'll fix that just fine :)
                    <br/>Regarding pretty big adjustments, for example if you want the pose changed for artwork, then
                    I'll need to know BEFORE I start outlining or texturing/rigging.
                    <br/>For art, I'll send you the sketch when it's done and then wait for your approval to go ahead with outlining, 
                    after this point I'm going to assume it's all good and won't be changed.
                    <br/>For models, I will send you a view of the model when it is done, and wait for your approval, after this point
                    I will not be touching the model further, aside from fixing issues. The same will not apply for texture, UV or rigging goofs,
                    if any of those happen I will fix them as soon as I'm made aware :)
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    References
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    Can I show you what I want the commission to look like???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Of course! Using visual references for an art commission, be it a picture of a pose, or a stickman drawing, or whatever,
                    really helps out as it gives me a clearer idea of what you want. 
                    Just don't send me NSFW material, I'm not interested in seeing it.<br/>
                    For modelling, it's essential that I have a turnaround of the character you want modelled, 
                    with a front, back and at least one side perspective. (Hint hint, if you need one I also have commissions open for those teeheehee)
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Why???
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    Why are you like this???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>idk
                </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </body>
</html>

