<html>
    <body>
        <h1>Tee's Art Commissions</h1>
        <h3>All prices listed here are in GBP</h3>

        <div class="art-row">
            <div class="art-column" style="background-color: #CCC; outline-color: #AAA;">
                <h3>Black & White</h3>
                <img src="assets/art/black_white.png">
                <h4>Half: £15+ / Full: £22+</h4>
            </div>
            <div class="art-column" style="background-color: #C78EC5; outline-color: #A56CA3;">
                <h3>Coloured</h3>
                <img src="assets/art/coloured.png">
                <h4>Half: £20+ / Full: £30+</h4>
            </div>
            <div class="art-column" style="background-color: #C673C3; outline-color: #A451A1;">
                <h3>Shaded</h3>
                <img src="assets/art/shaded.png">
                <h4>Half: £25+ / Full: £37+</h4>
            </div>
        </div>
    </body>
</html>
