<html>
    <body>
        <br/>
        <h1 style="font-size: 36px;">Tee's Art Commissions</h1>
        <h3 style="font-size: 24px;">All prices listed here are in GBP and are subject to change depending on complexity, 
            everything is handled through PayPal<br/>
        Click on one of the panels to view details about extras and more pricing<br/>
        The prices listed below are more of a guide than anything, I'll give you a quote for it :)</h3>

        <div class="art-row">
            <div class="art-column" style="background-color: #CCC; outline-color: #AAA;" (click)="openDialog(0)">
                <h3>Black & White</h3>
                <img src="assets/art/black_white.png">
                <h4 style="line-height: 36px;">Half Body: £12+<br/>Full Body: £17+</h4>
            </div>
            <div class="art-column" style="background-color: #c796c5; outline-color: #A56CA3;" (click)="openDialog(1)">
                <h3>Coloured</h3>
                <img src="assets/art/coloured.png">
                <h4 style="line-height: 36px;">Half Body: £17+<br/>Full Body: £23+</h4>
            </div>
            <div class="art-column" style="background-color: #bd74ba; outline-color: #A451A1;" (click)="openDialog(2)">
                <h3>Flat Shading</h3>
                <img src="assets/art/shaded.png">
                <h4 style="line-height: 36px;">Half Body: £23+<br/>Full Body: £28+</h4>
            </div>
            <div class="art-column" style="background-color: #c560c2; outline-color: #a1299d;" (click)="openDialog(3)">
                <h3>Blended Shading</h3>
                <img src="assets/art/blendedshading.png">
                <h4 style="line-height: 36px;">Half Body: £30+<br/>Full Body: £35+</h4>
            </div>
        </div>

        <div class="art-row-2">
            <div class="art-column" style="background-color: #aae2b1; outline-color: #88c090;" (click)="openDialog(4)">
                <h3>Turnaround</h3>
                <img src="assets/art/commission_examples/turnaround.png">
                <h4 style="line-height: 36px;">£40+</h4>
            </div>
        </div>
        
        <div class = "accordion">
            <mat-accordion displayMode="flat" multi="true">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Contact
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    How can I get in touch for a commission???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>The best way to get in touch with me initially is via Twitter/X if we haven't spoken before, it's where 
                    I'm most active. Though it seems I don't actually get pings for message requests, which is really annoying.
                    It's not that I'm ignoring you deliberately, it's just that Elon is doing my DMs dirty.
                    <br/>Typically after we've gotten the ball rolling, I'll give you my Discord handle and we can go from there :)
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Payment
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    How will you steal my money from me???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I use PayPal for commissions, I don't have any other alternatives and don't plan on using any either.
                    <br />
                    Payment will be up-front in full, though this can be negotiated (if you'd prefer to see a sketch first or something)
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Lineart
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    How will the commission look???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Typically when I draw, I like to use a Binary Pen, which produces a solid, kind of pixelated outline. 
                    I like the look of it personally, and I find that it generally makes life easier when it 
                    comes to the colouring stage.
                </p>
                <img src="assets/art/commission_examples/binary_brush.png">
                <p>I do sometimes use more conventional brushes if that is your preference, though that may affect the price
                    depending on the level of detail.<br/>
                    The resolution of the commission will roughly be in the 2000x2000 range maximum, depending on what you're wanting.
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Tech
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    What do you draw in???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I use Clip Studio Paint to draw :)
                    <br /> If you want the source files when I'm done with a commission, go ahead and ask and I'll send it to you.
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    References
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    Can I show you what I want it to look like???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Of course! Using visual references for a commission, be it a picture of a pose, or a stickman drawing, or whatever,
                    really helps out as it gives me a clearer idea of what you want. 
                    Just don't send me NSFW material, I'm not interested in seeing it.
                </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #ddd;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px;">
                    Corrections & Adjustments
                    </mat-panel-title>
                    <mat-panel-description style="font-size: 18px;">
                    Will you make changes for me???
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>If I've made some dumb error and it needs fixing (i.e missing bit of shading, or it's not blended), 
                    I'll fix that just fine :)
                    <br/>Regarding pretty big adjustments, for example if you want the pose changed, then
                    I'll need to know BEFORE I start outlining onwards.
                    <br/>I'll send you the sketch when it's done and then wait for your approval to go ahead with outlining, 
                    after this point I'm going to assume it's all good and won't be changed.
                </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class = "dosndonts">
            <mat-accordion displayMode="flat" multi="true">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #9BFFA8;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px; text-align: center; width: 100%; justify-content: center;">
                    What I will draw
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Irkens :) funny ayylmaos are cool<br/>
                    Humans/humanoid characters<br/>
                </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br />
            <mat-accordion displayMode="flat" multi="true">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="background-color: #FF8989;" [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title style="font-size: 24px; text-align: center; width: 100%; justify-content: center;">
                    What I won't draw
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    NSFW<br/>
                    Fetishes<br/>
                    Comics (not yet, maybe sometime in the future)<br/>
                    Complex backgrounds (PAIN)<br/>
                    Complex non-humanoid designs (sorry, just not used to it :()
                </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <h1 style="font-size: 36px;">Examples!</h1>
        <div class="art-examples">
            <div class="art-example">
                <img src="assets/art/commission_examples/rally.png">
                <p>Blended Shading, Full Body, Background</p>
            </div>
            <div class="art-example">
                <img src="assets/art/commission_examples/popcorn.png">
                <p>Flat Shading, Half Body<br/>Extremely simple BG, wouldn't charge for this</p>
            </div>
            <div class="art-example">
                <img src="assets/art/commission_examples/dil.png">
                <p>Black & White, Full Body, 2nd Character</p>
            </div>
        </div>
        <div class="art-examples">
            <div class="art-example">
                <img src="assets/art/commission_examples/queires.png">
                <p>Coloured, Full Body</p>
            </div>
            <div class="art-example">
                <img src="assets/art/commission_examples/kitt_xeon.png">
                <p>Flat Shading, Full Body, 2nd Character, Background</p>
            </div>
        </div>
        <br/>
    </body>
</html>
