html{
  background-color: rgb(22, 20, 22);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1b1b1b;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar button{
  width: 50px;
  height: 50px;
  position:relative;
  animation: press 0.333s ease-in-out backwards;
  background-color: transparent;
  outline: none;
  border: none;
}

.sidebar button:active{
  animation: none;
}

@keyframes press{
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5, 0.3) rotate(-15deg);
  }

  50% {
    transform: rotate(15deg) scale(0.75, 1.25);
  }

  75% {
    transform: rotate(-5deg);
  }

  to{
    transform: scale(1);
  }
}

.sidebar button img{
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dancingkitt{
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 200px;
  overflow: auto;
  bottom: 0;
  /* right: 0; */
  left: calc(100vw - 180px);
  background-color: rgb(22, 20, 22);
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  text-decoration: none;
}

.sidebar p {
  color: white;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar .plugs{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.title {
  display: flex;
}

.title p {
  margin: auto;
  font-size: 16px;
}

.title img{
  width: 25%;
  max-width: 75px;
}

@media screen and (max-width: 1100px) {
  .dancingkitt{display: none;}
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .sidebar .plugs{margin-top: 0px; position:relative;float:left;}
  div.content {margin-left: 0;}
  .dancingkitt{display: none;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .sidebar .plugs{display:none;}

  .dancingkitt{display: none;}
}
  