<html>
    <body>
        <br />
        <div class="banner">
            <img src="assets/art/banners/zim_faces.png"/>
        </div>
        <br />
        <h1 style="font-size: 36px;">Tee's Downloadable Stuffs</h1>
        <h3 style="font-size: 24px;">Hello! Welcome to the Downloads page. 
            Here you can access everything I've made and published.</h3>
        <br/>
        <h2 style="font-size: 30px">2nd Generation Zim
            [<a href="https://www.dropbox.com/scl/fi/tsv4o2ee5sgrsy3z55g90/Zim_V2.zip?rlkey=9nguogkeklm3qncwpiksmhz8d&dl=0">Download</a>]
        </h2>
        <h3>This iteration of the model is designed primarily for practicing Blender, and was built off of the 1st generation,
            <br/>with some general improvements being made to the mesh. <br/>This one has been designed with Blender in mind, with
            an adjustable mouth, eyes, <br/>and swappable face textures that can all be changed within Blender.
        </h3>
        <img style="width: 40%" src="assets/art/model_examples/zim_facemovements.gif">
        <br/>
        <br/>
        <h2 style="font-size: 30px">1st Generation Zim
            [<a href="https://www.dropbox.com/sh/zc6a7ewjbslqjfy/AAB5QvQYGAtpnxObzph33CzIa?dl=0">Download</a>]
        </h2>
        <h3>This model was originally built for use in Unity and designed with a low-poly/PSX style in mind.
            <br/> It's quite janky and was specifically built for my needs, doesn't have much functionality.
        </h3>
        <img style="width: 40%" src="assets/art/model_examples/zim_faces.png">
        <br/>
        <br/>
    </body>
</html>