<html>
    <body>
        <br />
        <div class="banner">
            <img src="assets/art/banners/bolt_gets_trolled_banner.png"/>
        </div>
        <br />
        <h1>Hello! I'm Tee! Welcome to my website!</h1>
        <h3>This site is my little side project while I doodle some funny and/or sad aliens.</h3>
        <h3>If you don't know too much about me, I like to draw a lot, mainly in the Invader Zim fandom, <br/>
            and sometimes other fandoms like Hollow Knight or Cult of the Lamb.</h3>
        <h3>As you can see, this website is very very unfinished, please be patient :)<br/>
        Also I can't make any promises that this site will work on mobile, I'm not too experienced with webdev.</h3>

        <h3>The scrimbly lil' icon at the top left was created by my bud <a href="https://twitter.com/ChicoBrrr" target="_blank">ChicoBrrr</a>!<br/>
        Go follow her, she's awesome. (Hint: Try clicking the icon)</h3>
    </body>
</html>