<html>
    <body>
        <br />
        <div class="banner">
            <img src="assets/art/3d_stare.png"/>
        </div>
        <br />
        <h1 style="font-size: 36px;">Tee's Modelling Commissions</h1>
        <h3 style="font-size: 24px;">This page is currently under construction, 
            these commissions are closed while I figure it all out.
        <br/>In the meantime, here's some stuff about the Zim models I've made :)</h3>
        <br/>
        <h2 style="font-size: 30px">2nd Generation 
            [<a href="https://www.dropbox.com/scl/fi/tsv4o2ee5sgrsy3z55g90/Zim_V2.zip?rlkey=9nguogkeklm3qncwpiksmhz8d&dl=0">Download</a>]
        </h2>
        <h3>This iteration of the model is designed primarily for practicing Blender, and was built off of the 1st generation,
            <br/>with some general improvements being made to the mesh. <br/>This one has been designed with Blender in mind, with
            an adjustable mouth, eyes, <br/>and swappable face textures that can all be changed within Blender.
        </h3>
        <img style="width: 40%" src="assets/art/model_examples/zim_facemovements.gif">
        <br/>
        <br/>
    </body>
</html>